<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="stylesheets/pprWars.css" media="screen" rel="stylesheet" type="text/css"/>
  <link href="facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.min.js"></script>
  <script type="text/javascript" src="/js/paperwars.js"></script>
</head>
<body>

<div id="list_of_rooms">
  <h3>Please select to which room you want to connect:</h3>
  <form id="form_for_list_of_rooms" onsubmit="if(typeof window.room_id != 'undefined') {$('#errors_for_list_of_rooms').hide(); socket.json.emit('connect', {room_id: window.room_id, country_code: geoip_country_code().toLowerCase(), country_name: geoip_country_name()}); jQuery.facebox.close();} else {$('#errors_for_list_of_rooms').show(); jQuery.facebox({ div: '#list_of_rooms' });}; return false;"></form>
</div>

<center><p>Paper wars</p></center>

<center><p>Place your armies</p></center>

<center>
  <form id="armies">
    <p class="count">0</p>
    <br>

    <hr size="1" width="40%">

    <div class="inputs"></div>

    <hr size="1" width="40%">
  </form>
</center>

<center><p>Place your Bombs</p></center>

<center>
  <form id="bombs">
    <p class="count">0</p>
    <br>

    <hr size=1 width="40%">

    <div class="inputs"></div>

    <hr size=1 width="40%">
    <input id="start" type="button" value="Start A War" disabled>
  </form>
</center>

</body>
</html>
