body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#list_of_rooms {
  position:absolute;
  top:120px;
  left:20px;
  width:215px;
  padding:5px;
  border:1px solid green;
}